/*
0-600px: Phone
600px-900px: Tablet Portrait 
900px - 1200px: Tablet Landscape

1800px + : Big Desktop

$breakpoint argument options:

- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeReveal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000; }

strong {
  font-weight: 500; }

.heading-primary {
  color: #fcfcfc;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 2%;
  line-height: 135%;
  margin-bottom: 3rem;
  animation: moveInBottom 1s ease-in; }

.heading__paragraph {
  font-size: 1.5rem;
  margin: 1.2rem 0 4.6rem 0;
  color: #fcfcfc;
  line-height: 140%; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      text-align: left; } }

.u-center-text {
  text-align: center; }

.place-center {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: inherit; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-large {
  margin: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-my-huge {
  margin: 10rem 0; }

.u-padding-bottom-small {
  padding-bottom: 1.5rem; }

.u-padding-bottom-medium {
  padding-bottom: 4rem; }

.u-padding-bottom-large {
  padding-bottom: 8rem; }

.u-padding-top-large {
  padding-top: 8rem; }

.u-paddingx-large {
  padding: 0 6rem; }

.u-padding-top-huge {
  padding-top: 10rem; }

.text-white {
  color: #fcfcfc; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fcfcfc;
  padding: 1.4rem 2rem; }

.btn--filled {
  background-color: #9f6934; }

.btn--outline {
  border: 1px solid #9f6934;
  color: #9f6934 !important; }

.btn--submit {
  border-radius: 50%;
  background-image: url("../img/arrow-right.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 32px;
  height: 32px;
  background-color: #9f6934;
  border: none;
  cursor: pointer; }

.hamburger-menu {
  display: flex;
  margin: auto;
  position: relative;
  width: 30%;
  height: 3vh;
  padding: 12px 10px;
  justify-content: flex-end; }
  .hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    background-color: #000;
    width: 100%;
    border-radius: 4px;
    transform: translate(-50%, -50%); }
  .hamburger-menu span:first-child {
    top: 5px;
    transform: scaleX(1);
    opacity: 1; }
  .hamburger-menu span:nth-child(2) {
    top: 11px;
    transform: scaleX(1);
    opacity: 1; }
  .hamburger-menu span:last-child {
    top: 17px;
    width: 14px;
    transform: scaleX(1);
    opacity: 1; }
  .hamburger-menu:hover {
    cursor: pointer; }
    .hamburger-menu:hover span {
      animation: menu-hover 0.3s forwards cubic-bezier(0, 0, 0.2, 1) 1; }
    .hamburger-menu:hover span:nth-child(2) {
      animation-delay: 0.1s; }
    .hamburger-menu:hover span:last-child {
      animation-delay: 0.2s; }

@keyframes menu-hover {
  60% {
    transform: scaleX(1.4); }
  100% {
    transform: scaleX(1); } }

.footer {
  background-color: #000;
  color: #fcfcfc;
  padding: 10rem 0; }
  .footer .form {
    width: fit-content;
    margin-bottom: 5px;
    margin: 30px auto; }
    @media only screen and (max-width: 37.5em) {
      .footer .form {
        margin: 30px 0; } }
    .footer .form .input {
      width: 35rem;
      transform: translateY(35%);
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fcfcfc;
      margin-right: 5px;
      float: left;
      height: 24px;
      color: #fcfcfc; }
      @media only screen and (max-width: 37.5em) {
        .footer .form .input {
          width: 25rem; } }
      .footer .form .input:focus {
        outline: none; }
  .footer__links--row {
    margin-top: 3rem; }
  .footer__links--item {
    color: #777; }
    @media only screen and (max-width: 37.5em) {
      .footer__links--item {
        display: inline-block;
        margin-right: 2rem; } }

.container {
  padding: 0 4%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 75em) {
    .row {
      padding: 0 3rem; } }

.col-60 {
  float: left;
  width: 60%; }
  @media only screen and (max-width: 37.5em) {
    .col-60 {
      width: 100%; } }

.col-40 {
  float: left;
  width: 40%;
  height: 100%; }
  @media only screen and (max-width: 37.5em) {
    .col-40 {
      width: 100%; } }

.col-50 {
  float: left;
  width: 50%;
  height: 100%; }

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
  .col:first-child {
    margin-left: 0; }
  .col:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 37.5em) {
    .col {
      margin-left: 0; } }

.span-1-of-3 {
  width: 32.26%; }
  @media only screen and (max-width: 37.5em) {
    .span-1-of-3 {
      width: 100%;
      margin: 4rem 0; } }

.span-1-of-5 {
  width: 18.72%; }
  @media only screen and (max-width: 37.5em) {
    .span-1-of-5 {
      width: 100%; } }

.header {
  max-width: 100vw;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat; }
  .header__navigation {
    height: 15vh;
    width: 100vw; }
    @media only screen and (max-width: 75em) {
      .header__navigation {
        height: 10vh; } }
    .header__navigation--left, .header__navigation--right {
      display: flex;
      height: 100%; }
    .header__navigation--left {
      background-color: #000;
      padding-left: 4%; }
    .header__navigation--right {
      background-color: #fcfcfc;
      padding-right: 4%; }
      @media only screen and (max-width: 37.5em) {
        .header__navigation--right {
          padding-right: 1.5%;
          padding-left: 0.5%; } }
    .header__navigation--links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      justify-self: end;
      width: 100%; }
    .header__navigation--item {
      display: flex;
      padding: 0 2rem;
      font-size: 1.5rem;
      font-weight: 500; }
      @media only screen and (max-width: 37.5em) {
        .header__navigation--item {
          padding: 0 1.2rem;
          font-size: 1.2rem; } }
  .header__navigation {
    list-style: none;
    width: 100%; }
  .header__logo {
    position: relative;
    height: 2rem;
    cursor: pointer; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center; }

.masonry {
  height: 150rem;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.1%;
  justify-content: center;
  grid-auto-flow: dense; }
  @media only screen and (max-width: 75em) {
    .masonry {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      height: 200rem !important; } }
  @media only screen and (max-width: 62.5em) {
    .masonry {
      height: 200rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .masonry {
      grid-template-rows: auto auto;
      grid-template-columns: auto auto auto;
      max-height: 250rem; } }
  @media only screen and (max-width: 37.5em) {
    .masonry {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr; } }

.product {
  line-height: 0;
  position: relative;
  font-weight: 400;
  overflow: hidden; }
  .product:hover .product__img {
    filter: blur(25px);
    transform: scale(1.1); }
  .product:hover .product__details {
    display: block; }
  .product__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s; }
  .product__details {
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    display: none;
    transition: all 0.4s; }
    .product__details--primary, .product__details--sec {
      margin-bottom: 2.3rem; }

.large-row {
  grid-row-start: span 2; }

.large-column {
  grid-column-start: span 2; }

.section-features {
  display: flex;
  background-color: #000;
  justify-content: center; }
  .section-features .brand {
    width: 16rem;
    height: 6rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3rem 0; }
    .section-features .brand:first-child {
      margin-left: 6rem; }
    .section-features .brand:not(:last-child) {
      margin-right: 6rem; }
    .section-features .brand-1 {
      background-image: url(../img/fastcompany.png); }
    .section-features .brand-2 {
      background-image: url(../img/wired.png); }
    .section-features .brand-3 {
      background-image: url(../img/HGTV.png); }
    .section-features .brand-4 {
      background-image: url(../img/yahoo-lifestyle.png); }
    .section-features .brand-5 {
      background-image: url(../img/elledecorlogo.png); }
    .section-features .brand-6 {
      background-image: url(../img/Self.png); }

.section-hero .hero-grid {
  display: grid;
  max-width: 100vw;
  height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense; }
  @media only screen and (max-width: 37.5em) {
    .section-hero .hero-grid {
      grid-template-columns: 1fr; } }

.section-hero .hero .left {
  position: relative;
  background-color: #000; }

.section-hero .hero--text {
  background-color: #000;
  position: relative;
  width: 100%;
  height: 85vh; }
  @media only screen and (max-width: 75em) {
    .section-hero .hero--text {
      height: 70rem; } }
  .section-hero .hero--text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; }
    .section-hero .hero--text-box .btn--outline {
      margin-left: 2rem; }

.section-hero .hero--image {
  background-image: url("../img/hero-image.png");
  background-size: cover;
  width: 100%;
  height: 85vh;
  animation: fadeReveal 2s ease; }
  @media only screen and (max-width: 75em) {
    .section-hero .hero--image {
      height: 70rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-hero .hero--image {
      display: none; } }

.featured {
  color: #000;
  font-size: 1.3rem; }

.featured--link {
  color: #9f6934;
  border-bottom: 1px solid #9f6934; }

.section-info {
  background: #fcfcfc;
  max-width: 100vw;
  padding: 18rem 0; }
  @media only screen and (max-width: 75em) {
    .section-info {
      padding: 14rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .section-info {
      padding: 12rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-info {
      padding: 4rem 0; } }
  .section-info .info-img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeReveal 2s ease; }
  .section-info .info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, 25%);
    vertical-align: middle;
    text-align: center;
    margin-left: 1rem;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .section-info .info-text {
        transform: translate(-50%, 10%); } }
    @media only screen and (max-width: 48.75em) {
      .section-info .info-text {
        width: 96%;
        transform: translate(-50%, 9%); } }
    @media only screen and (max-width: 37.5em) {
      .section-info .info-text {
        position: unset;
        transform: none;
        margin-top: 8rem;
        width: 100%; } }
    .section-info .info-text__paragraph {
      font-size: 2.4rem;
      color: #000;
      margin-bottom: 2.5rem; }
  .section-info .asset-dot {
    position: absolute;
    top: 25%;
    left: -6%;
    z-index: 1;
    width: 4.5rem; }
    @media only screen and (max-width: 56.25em) {
      .section-info .asset-dot {
        width: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-info .asset-dot {
        width: 4.5rem; } }

.section-living .intro,
.section-lights .intro {
  background-color: #000;
  color: #fcfcfc;
  text-align: center; }
  .section-living .intro-text,
  .section-lights .intro-text {
    font-size: 2.4rem;
    font-weight: 300;
    margin: 1.2rem 0;
    line-height: 150%; }

.section-living .featured,
.section-lights .featured {
  color: #fcfcfc; }

.section-living .featured--link,
.section-lights .featured--link {
  color: #9f6934;
  border-bottom: 1px solid #9f6934 !important; }

.section-living .outer-wrap,
.section-lights .outer-wrap {
  padding: 10rem 15vw; }
  @media only screen and (max-width: 56.25em) {
    .section-living .outer-wrap,
    .section-lights .outer-wrap {
      padding: 10rem 7vw; } }

.section-services {
  padding: 8rem 0;
  background-color: #fcfcfc; }
  .section-services .service {
    display: block; }
    .section-services .service__img {
      display: block;
      text-align: center;
      width: 8rem;
      height: 8rem;
      margin-left: auto;
      margin-right: auto;
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat; }
      .section-services .service__img-1 {
        background-image: url("../img/shipping.png"); }
      .section-services .service__img-2 {
        background-image: url("../img/returns.png"); }
      .section-services .service__img-3 {
        background-image: url("../img/guarantee.png"); }
    .section-services .service__text {
      text-align: center;
      font-weight: 400;
      margin-top: 20px; }
