$default-font-size: 1.7rem;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #f4f4f4;

$color-white: #fff;
$color-black: #000;


//GRID
$grid-width:114rem;