.header {
  max-width: 100vw;
  //background-image: url(/img/hero-img.png),
  // linear-gradient(rgba($color-black, 0.4), rgba($color-black, 0.4));
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  &__navigation {
    height: 15vh;
    width: 100vw;
    @include respond(tab-land) {
      height: 10vh;
    }
    // justify-content: space-between;
    // align-items: center;
    &--left,
    &--right {
      display: flex;
      height: 100%;
    }

    &--left {
      background-color: $color-black;
      padding-left: 4%;
    }

    &--right {
      background-color: $color-white;

      padding-right: 4%;
      @include respond(phone) {
        //  padding-right: 1.5%;
        padding-left: 0.5%;
      }
    }
    &--links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      justify-self: end;
      width: 100%;
    }
    &--item {
      display: flex;
      padding: 0 10%;
      font-size: $small-font-size;
      font-weight: 400;

      &:last-child {
        padding: 0;
      }
      &:first-child {
        padding: 0;
      }
    }
  }
  &__navigation {
    list-style: none;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 110000;
  }

  &__logo {
    position: relative;
    height: 2rem;
    cursor: pointer;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @media only screen and (max-width: 480px) {
// }

// @media only screen and (min-width: 700px) {
//   .header {
//     background-position: top;
//   }
// }
// @media only screen and (max-width: 768px) {
// }

// @media only screen and (max-width: 1023px) {
//   .header {
//     height: 60vh;
//     background: url(/img/header-hero.jpg);
//     background-size: cover;
//     background-position: fixed;
//     background-repeat: no-repeat;
//   }
// }
