.hamburger-menu {
  display: flex;
  margin: auto;
  position: relative;
  width: 30%;
  height: 3vh;
  padding: 12px 10px;
  justify-content: flex-end;

  span {
    display: block;
    position: absolute;
    height: 2px;
    background-color: $color-black;
    width: 100%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
  }
  span:first-child {
    top: 5px;
    transform: scaleX(1);
    opacity: 1;
  }
  span:nth-child(2) {
    top: 11px;
    transform: scaleX(1);
    opacity: 1;
  }
  span:last-child {
    top: 17px;
    width: 14px;
    transform: scaleX(1);
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
    span {
      animation: menu-hover 0.3s forwards cubic-bezier(0, 0, 0.2, 1) 1;
    }
    span:nth-child(2) {
      animation-delay: 0.1s;
    }
    span:last-child {
      animation-delay: 0.2s;
    }
  }
}

@keyframes menu-hover {
  60% {
    transform: scaleX(1.4);
  }
  100% {
    transform: scaleX(1);
  }
}
