@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-black;
}
strong {
  font-weight: 500;
}
.heading {
  &-primary {
    color: $color-white;

    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 2%;
    line-height: 135%;
    margin-bottom: 3rem;
    animation: moveInBottom 1s ease;
  }

  &__paragraph {
    font-size: $small-font-size;
    margin: 1.2rem 0 4.6rem 0;
    color: $color-white;
    line-height: 140%;
  }

  &-secondary {
    font-size: 3.6rem;
    font-weight: 500;
    text-align: center;
    @include respond(phone) {
      text-align: left;
    }
  }
}
